.flexCenter {display: flex; justify-content: center; align-items: center;}

.mainFrame {display: flex;}
/* 지워주세요 */
/*.mainMenu {width: 120px; border-right: 1px solid #e2e2e2;}*/
.menuLogo {position: absolute; top: 40px; cursor: pointer;}
.seoulLogo {width: 50px;}
.mainMenuContainer {display: flex; flex-direction: column; align-items: center; gap: 30px; margin-top: 100px;}
.mainComponent {width: 85px; height: 80px; border-bottom: 1px solid #e2e2e2; cursor: pointer;}
.mainComponent:hover {background-color: #e2e2e2; border-radius: 10px;}
.componentFontSetting {font-size: 20px; font-weight: 600; letter-spacing: 0.1px; opacity: 0.6;}
.mainComponent:hover .componentFontSetting {font-weight: 700;}

.mainCenter {background: transparent;}